.widget-containers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping if there are too many widgets for one row */
    gap: 30px; /* Consistent spacing between widgets */
}

.employee-widget-container {
    display: flex;
    align-items: center;
    margin-top: 0px;
    position: relative; /* To position the search icon */
    /* flex-grow: 1; */
    height: 40px;
    
}

.employee-widget {
    background-color: #ffffff;
    padding: 10px;
    /* width: 310px; */
    height: 95px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto 10px 0; /* Adjust margin to push it to the left */
    display: flex;
    position: relative;
    align-items: center;
    

  }


  .employee-widget-image {
    background-color: #ffffff;
    width: 85px !important;
    height: 85px !important;
    display: flex;
    align-items: center;
    border-radius: 8px;
    left: 0px;
    top: 50%;
    justify-content: center;
    /* margin-right: 15px;
    margin-bottom: 15px; */
  }

.employee-widget-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    max-width: 100%; 
}



.employee-widget h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0; 
    white-space: nowrap; 
}


.employee-search-icon {
    background-color: #fa5909;
    border-radius: 50%; 
    padding: 10px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
}

.employee-search-icon img {
    width: 20px;
    height: 20px;
}
.employee-widget-info{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* width: calc(80% - 110px); */
    height: 85px;
    margin-left: 10px;
    /* align-items: center; */
  }