.loan-request-main-container{
  background-color: #E5F6FF;
  height: 130vh;
}
  
  
  .loan-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    padding: 15px;
    border-radius: 8px;
    color: #0d0000; 
    margin-bottom: 10px;
  }
  
  .loan-header h1 {
    margin-left: 10px;
    font-size: 2px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1000px;
  }
  
 
  .back-button-image {
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    font-size: 1rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for buttons */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loan-add-button{
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    font-size: 1rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for buttons */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .loan-request-container {
    background-color: #ffffff; 
    padding: 20px;
    height: 70vh;
    width: 1380px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .loan-request-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .loan-request-table th, .loan-request-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .loan-request-table th {
    background-color: #ffffff;
    font-weight: bold;
    color: #333;
  }
  
  .loan-request-table td {
    color: #555;
  }
  
  .loan-request-table button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header h1 {
      margin-left: 0;
      margin-top: 10px;
      font-size: 1.5rem;
    }
  }
  