.performance-main-container{
  padding: 10px 20px;
    background-color: #e7f1ff; /* Light blue background */
    height: 100vh;
}
  
  .performnace-header {
    display: flex;
    align-items: center;
    background-color: #e7f1ff; /* Light blue background */
    border-radius: 8px; /* Rounded corners */
    padding: 15px;
    
  }
  
  .back-button-image {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .performnace-header h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .review-table-container {
    background-color: white;
    height: 70vh;
    border-radius: 10px 10px 0px 0px;
  }
  
  .review-table {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .review-table th, .review-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .review-table th {
    background-color: #ffffff;
    font-weight: bold;
    color: #333;
  }
  
  .review-table td {
    color: #333;
  }
  
  .review-table button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
   
  }
  