.backdateprocess-list-container {
    padding: 10px 20px;
    background-color: #e7f1ff; /* Light blue background */
    height: 100vh;
  }
  
  .backdateprocess-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #e7f1ff; /* Light blue background */
    border-radius: 8px; /* Rounded corners */
  }
  
  .back-button,
  .filter-button {
    height: 29.6px;
    width: 30px;
    background-color: white;
    vertical-align: middle;
    border: none;
    font-size: 1px solid #DDDDDD;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for buttons */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .backdateprocess-list-header h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    margin-top: 4px;
    margin-left: 10px;
  }
  
  .backdateprocess-list-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
  }
  
  .backdateprocess-list-table th,
  .backdateprocess-list-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .no-records {
    text-align: center;
    color: #a9a9a9;
  }
  
  .backdateprocess-list-table button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .backdateprocess-list-table button:hover {
    background-color: #155ab6;
  }
  .backdateprocess-list-heading{
    display: flex;
  }
  .backdateprocess-list-table-container{
    background-color: white;
    height: 70vh;
    border-radius: 20px 20px 0px 0px;
    /* padding-top: 20px; */
  }
  
      tr{
        text-align: center;
        align-items: center;
      }


      .bdp-filter-section {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
    }
    
    .bdp-filter-section h3 {
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .bdp-filter-fields {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .bdp-filter-actions {
        margin-top: 10px;
    }
    
    .bdp-filter-actions button {
        margin-right: 10px;
    }
    
    .search-button {
        background-color: green;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
    }
    
    .reset-button {
        background-color: #ccc;
        color: black;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
    }
    .bdp-right-btn{
      display: flex;
    }