.Licence-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .Licence-table th, .Licence-table td {
    padding: 10px;
     text-align: left;  
    border-bottom: 1px solid #ddd;
  }
  .toggle-button-Licence {
    background-color: #ffffff;
    color: #007bff;
    padding: 7px 8px;
    border: 2px solid #abcaea;
    border-radius: 50%;
    cursor: pointer;
  }
  .licence-btn-holder{
    border-bottom: 1px solid #DDDDDD;
  }