.Address-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .Address-table th, .Address-table td {
    padding: 10px;
     text-align: left;  
    border-bottom: 1px solid #ddd;
  }
  .Address-table th{
    font-family: "Open Sans";
    height: 14px;
    line-height: 20px;
  }
  .Address-table td{
    color: #666666;
    font-family: "Open Sans";
    height: 14px;
    line-height: 20px;
  }
  .toggle-button-A{
    background-color: #ffffff;
    color: #007bff;
    padding: 7px 8px;
    border: 2px solid #abcaea;
    border-radius: 50%;
    cursor: pointer;
  }
  .AI-profile-h3{
    font-family: "Open Sans";
    font-weight: 600;
  }
  .btn-holder-AddressInformation{
    border-bottom: 1px solid #DDDDDD;
  }