
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .dash-dashboard-container {
    display: flex;
    height: auto;
  }
  
  
  
  .dashboard-main-content {
    flex: 1;
    background-color: aliceblue;
    padding: 15px;
    /* margin-left: 20px; Ensure content doesn't overlap with sidebar */
  }
  
  .dash-dashboard-header {
    padding-bottom: 20px;
    color: rgb(8, 8, 8);
    text-align: left;
  }
  
  .widgets-container {
    display: flex;
    justify-content: center; /* Align widgets to the left */
    gap: 20px; /* Space between widgets */
    flex-wrap: nowrap; /* Allow widgets to wrap to the next line if necessary */
    width: 100%; /* Ensure widgets container takes full width */
    padding: 10px 0; /* Add some padding at the top and bottom */
  }
  
  .containers-row {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Ensures space is distributed evenly */
    width: 100%;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .new-joining-container, .celebration-container {
    flex: 1; /* Allows containers to grow and fit side by side */
    max-width: 48%; /* Ensures they don’t exceed 50% of the parent's width */
  }
  
  .attendanceT-container, .performance-feedback-container{
  flex: 1;
  max-width: 48%;
  
  }