.editable-basicinformation-toggle-button {
    background-color: #ffffff;
    color: #007bff;
    padding: 7px 8px;
    border: 2px solid #abcaea;
    border-radius: 50%;
    cursor: pointer;
    
   
  }
  .editable-basicinformation-basic-i-h3{
    font-family: "Open Sans";
    font-weight: 600;
  }
  
  /* .toggle-button:hover {
    background-color: #0056b3;
  } */
  /* .basic-i-h3{
    padding: 20px;
    border-bottom: 1px solid black;
  } */
  
  .editable-basicinformation-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .editable-basicinformation-form-group {
    width: 45%;
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .editable-basicinformation-form-group label {
    display: block;
    /* font-weight: bold; */
    margin-bottom: 0.5rem;
    font-size: 14px;
    line-height: 20px;
    font-family: open sans-serif;
  }
  
  .editable-basicinformation-form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
   
  }

  .editable-basicinformation-form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .editable-basicinformation-form-group {
    flex: 1 1 45%;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .editable-basicinformation-form-group label {
    margin-bottom: 5px;
  }
  
  .editable-basicinformation-form-group input, .editable-basicinformation-form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .editable-basicinformation-form-group input[type="text"] {
    width: calc(100% - 18px); /* Adjust for the button size */
  }
  
  .editable-basicinformation-form-group .eye-icon {
    position: absolute;
    right: 10px;
    top: 32px; /* Adjust as needed */
    cursor: pointer;
  }

  input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .editable-basicinformation-eye-icon {
    margin-left: 0.5rem;
    align-self: center;
    cursor: pointer;
  }
  .editable-basicinformation-btn-holder{
    border-bottom: 1px solid #DDDDDD;
  }