.attendance-table-container {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
  padding: 10px;
}

.attendance-table {
  background-color: #ffffff;
  padding: 10px; /* Added padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

  .attendance-table .header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .attendance-table .header h2 {
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .attendance-table .header h2.active {
    background-color: #007bff;
    color: white;
  }

  .table-container {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    height: 600px;
  }
  
  .attendance-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;

  }
  
  .attendance-table th, .attendance-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .attendance-table th {
    background-color: #ffffff; 
    color: #333; 
    font-weight: bold;
  }
  
  .attendance-table tbody tr:nth-child(even) {
    background-color: #ffffff; 
  }
  
  .attendance-table tbody tr:hover {
    background-color: #f1f1f1; 
  }
  
  .attendance-table .action-cell {
    text-align: center; 
  }

  .action-cell {
    width: 50px; /* Adjust based on your needs */
  }
  
  /* Additional spacing to prevent overlap */
  .attendance-table {
    margin-top: 15px; /* Adjust based on the height of your filter section */
  }
  