.accolades-main-container {
  padding: 10px 20px;
    background-color: #e7f1ff; /* Light blue background */
    height: 100vh;
}

.accolades-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accolades-back-button-image {
  cursor: pointer;
  margin-right: 15px;
  height: 40px;
}

.accolades-header h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-right: 1100px;
}

.filter-icon {
  cursor: pointer;
  height: 30px;
}

.basic-search-container-1 {
  background-color: #ffffff;
  padding: 10px 20px;
  height: 220px;
  width: 1380px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}

.basic-search-container-1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
 
}

.accolades-divider {
  width: 10%;
  height: 2px;
  background-color: #007bff;
  margin-bottom: 15px;
}

.search-fields {
  margin-bottom: 15px;
  align-items: center;
}

.accolades-field {
  flex-direction: column;
  width: 300px;
}

.accolades-field label {
  margin-bottom: 10px;
}

.accolades-field input {
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.accolades-search-buttons {
  display: flex;
  gap: 20px;
}

.accolades-search-button,
.accolades-reset-button {
  padding: 12px 5px;
  font-size: 20px;
  cursor: pointer;
  width: 120px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.accolades-search-button {
  background-color: #28a745;
  color: #ffffff;
}

.accolades-reset-button {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid black;
}

/* Center the table */
.accolades-table-container {
  background-color: white;
  height: 70vh;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
  padding: 20px; /* Add padding to space out the table from the container */
}

.accolades-table {
  width: 100%;
  border-collapse: collapse;
}

.accolades-table th,
.accolades-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.accolades-table th {
  background-color: #ffffff;
  font-weight: 600;
}

.accolades-table tbody tr:hover {
  background-color: #f5f5f5;
}

.accolades-table button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}


