body {
    font-family: Arial, sans-serif;
    /* background-color: #E5F6FF; */
    margin: 0;
    padding: 0;
}
 
.attendance-main-container{
    height: auto;
    padding: 10px;
    background-color:  #E5F6FF;
}
 
.attendance-container {
    max-width: 1600px;
    margin: 20px ;
    height: 80rem;
    background-color: #E5F6FF;;
   
}
 
.attendance-header-wrapper,
.filter-section,
.attendance-table-container {
    margin-bottom: 20px; /* Equal space between sections */
}